In [4]:
import numpy as np
import pandas as pd

In [14]:
np.random.seed(42)  
scores = np.random.normal(20,13.5, 50)


scores = np.round(scores)

df = pd.DataFrame({'Student_ID': range(1, 50 + 1), 'Score': scores})


df.head(42)

    Student_ID  Score
0            1   27.0
1            2   18.0
2            3   29.0
3            4   41.0
4            5   17.0
5            6   17.0
6            7   41.0
7            8   30.0
8            9   14.0
9           10   27.0
10          11   14.0
11          12   14.0
12          13   23.0
13          14   -6.0
14          15   -3.0
15          16   12.0
16          17    6.0
17          18   24.0
18          19    8.0
19          20    1.0
20          21   40.0
21          22   17.0
22          23   21.0
23          24    1.0
24          25   13.0
25          26   21.0
26          27    4.0
27          28   25.0
28          29   12.0
29          30   16.0
30          31   12.0
31          32   45.0
32          33   20.0
33          34    6.0
34          35   31.0
35          36    4.0
36          37   23.0
37          38   -6.0
38          39    2.0
39          40   23.0
40          41   30.0
41          42   22.0