In [53]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]

series = pd.Series(data)

series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [12]:
data2 = {'a': 10, 'b': 20, 'c': 30}
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

In [7]:
data = {
    'Name': ['ugo', 'rino', 'dieko'],
    'Age': [5,6,7],
    'Homme_Town': ['Abeokuta', 'Ibadan', 'Lagos']
}

df = pd.DataFrame(data, index =["a","b","c"])
df.head()

    Name  Age Homme_Town
a    ugo    5   Abeokuta
b   rino    6     Ibadan
c  dieko    7      Lagos

In [14]:
data2 = [
    {'Name': 'Austin', 'Age': '20', 'Home_Town': 'Akure'},
    {'Name': 'Tems', 'Age': '21', 'Home_Town': 'Benin'},
    {'Name': 'Ahmed', 'Age': '22', 'Home_Town': 'Kano'}
]

df2 = pd.DataFrame(data2, index = ["A","B","C"])
df2.head()

     Name Age Home_Town
A  Austin  20     Akure
B    Tems  21     Benin
C   Ahmed  22      Kano

In [7]:
data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom',25, 'Abeokuta']
]

df3= pd.DataFrame(data3, columns=['name', 'Age', 'Hometown'])
df3.head()

     name  Age  Hometown
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   25  Abeokuta

In [16]:

print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [18]:
ship_csv = pd.read_csv("bio_data.csv")
ship_csv.head(5)

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

In [35]:
ship_csv[['First Name', 'Last Name', 'City', 'Feedback']]

,First Name,Last Name,City,Feedback
0,Peter,Okonmah,Ogun,non
1,Toyeebat,Nababa,Abeokuta,Excellent
2,Perpetual,Meninwa,Lagos,Thank you so much for the opportunity.
3,Mahfuz,Abdulhameed,Abeokuta,Amazing Shit
4,Divine,Gbadamosi,Abeokuta,Brain Racking
5,Abdulmalik,Adedotun,Abeokuta,Enjoying the course so far
6,Naheemot,Adebiyi,Abeokuta,Grateful for the opportunity to be here.
7,Kanyisola,Fagbayi,Lagos,One chin chin for you for this form
8,Blessing,James,Nairobi,Thanks for creating the form.
9,Hannah,Tanimola,Abeokuta,On God
10,Deborah,Adelegan,Abeokuta,None for now
11,Esther,Kudoro,Abeokuta,Chill
12,Opeyemi,Odejimi,Abeokuta,Na wa
13,Olasunkanmi,Rasak,Kobape,My gratitude to the sponsor of this program an...
14,Saheed,Olayinka,Abeokuta,None for now
15,Kehinde,Akindele,Abeokuta,Great
16,Oluwole,Oludayo,Abeokuta,Good training to attend
17,Samuel,Oyewusi,Lagos,Satisfactory
18,Ademola,Akinrinde,Abeokuta,Awesome shit\n\n
19,Victor,Ademuyiwa,kobape,Feels good
20,Sherif,Okemakinde,Abeokuta,Form filled
21,Ayuba,Raji,Abeokuta,None for now
22,Hamid,Jimoh,Ibadan,I am curious
23,Olajide,Abioye,Abeokuta,"So far, i getting to familarize myself with nu..."
24,Solomon,Olaiya,Abeokuta,Delighted learning here
25,Oluwadamilare,Bello,Sango,Coding is interesting when you understand
26,Oluwaseyi,Egunjobi,Cape Town,Nice to meet you all
27,Adeoye,Mary,abeokuta,Still processing
28,Babatunde,Rahmon,Abeokuta,i actually have a pc that has a very low stora...
29,Samuel,Dasaolu,Abeokuta,"Good so far, i guess"
30,Gabriel,Bamgbose,Abeokuta,Good
31,Ridwanullah,Osho,Abeokuta,IT IS WHAT IT IS !!!
32,Oluwapelumi,Adenuga,Abeokuta,live yours
33,Michael,Osisami,Abeokuta,Nil

In [36]:
ship_csv.iloc[0:5]

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
1,2025/09/11 12:56:11 PM GMT+1,Toyeebat,Nababa,AI,Abeokuta,Female,24,HP,Windows,Excellent
2,2025/09/11 12:57:08 PM GMT+1,Perpetual,Meninwa,AI,Lagos,Female,22,HP,Windows,Thank you so much for the opportunity.
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking

In [42]:
ship_csv.iloc[0:5, 0:3]

                      Timestamp First Name    Last Name
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi

In [46]:
ship_csv.iat[5, 0]

'2025/09/11 12:58:55 PM GMT+1'

In [57]:
filtered_male = ship_csv[ship_csv['Gender'] == 'Male']
print("Rows where Gender is 'Male':")
filtered_male

Rows where Gender is 'Male':

,Timestamp,First Name,Last Name,Course Track,City,Gender,Seat Number,PC-Make,PC - OS,Feedback
0,2025/09/11 12:55:34 PM GMT+1,Peter,Okonmah,AI,Ogun,Male,28,MACBOOK,Mac OS,non
3,2025/09/11 12:57:56 PM GMT+1,Mahfuz,Abdulhameed,AI,Abeokuta,Male,44,HP,Windows,Amazing Shit
4,2025/09/11 12:58:41 PM GMT+1,Divine,Gbadamosi,AI,Abeokuta,Male,35,DELL,Windows,Brain Racking
5,2025/09/11 12:58:55 PM GMT+1,Abdulmalik,Adedotun,AI,Abeokuta,Male,200,HP,Windows,Enjoying the course so far
9,2025/09/11 12:59:28 PM GMT+1,Hannah,Tanimola,AI,Abeokuta,Male,30,HP,Windows,On God
12,2025/09/11 1:00:03 PM GMT+1,Opeyemi,Odejimi,Cloud Computing,Abeokuta,Male,38,HP,Linux,Na wa
13,2025/09/11 1:00:13 PM GMT+1,Olasunkanmi,Rasak,AI,Kobape,Male,3,HP,Windows,My gratitude to the sponsor of this program an...
14,2025/09/11 1:00:27 PM GMT+1,Saheed,Olayinka,AI;Data Science;Web Dev,Abeokuta,Male,29,HP,Windows,None for now
15,2025/09/11 1:00:31 PM GMT+1,Kehinde,Akindele,Cloud Computing,Abeokuta,Male,54,Gateway,Windows,Great
16,2025/09/11 1:00:43 PM GMT+1,Oluwole,Oludayo,AI,Abeokuta,Male,09,HP,Windows,Good training to attend
17,2025/09/11 1:00:49 PM GMT+1,Samuel,Oyewusi,Web Dev,Lagos,Male,15,HP,Windows,Satisfactory
18,2025/09/11 1:00:54 PM GMT+1,Ademola,Akinrinde,AI,Abeokuta,Male,100,MACBOOK,Mac OS,Awesome shit\n\n
19,2025/09/11 1:01:31 PM GMT+1,Victor,Ademuyiwa,AI,kobape,Male,2,ASUS,Windows,Feels good
20,2025/09/11 1:01:44 PM GMT+1,Sherif,Okemakinde,AI,Abeokuta,Male,27,HP,Windows,Form filled
21,2025/09/11 1:01:46 PM GMT+1,Ayuba,Raji,AI,Abeokuta,Male,26,HP,Windows,None for now
22,2025/09/11 1:01:54 PM GMT+1,Hamid,Jimoh,AI,Ibadan,Male,299,DELL,Windows,I am curious
23,2025/09/11 1:02:28 PM GMT+1,Olajide,Abioye,AI,Abeokuta,Male,5,HP,Windows,"So far, i getting to familarize myself with nu..."
24,2025/09/11 1:02:49 PM GMT+1,Solomon,Olaiya,AI,Abeokuta,Male,16,MACBOOK,Mac OS,Delighted learning here
25,2025/09/11 1:02:56 PM GMT+1,Oluwadamilare,Bello,AI,Sango,Male,373,DELL;HP;LENOVO;MACBOOK;ASUS;,Mac OS,Coding is interesting when you understand
26,2025/09/11 1:02:59 PM GMT+1,Oluwaseyi,Egunjobi,Cloud Computing,Cape Town,Male,dirty,MACBOOK,Mac OS,Nice to meet you all
28,2025/09/11 1:03:36 PM GMT+1,Babatunde,Rahmon,AI,Abeokuta,Male,20,none,Windows,i actually have a pc that has a very low stora...
29,2025/09/11 1:06:03 PM GMT+1,Samuel,Dasaolu,AI,Abeokuta,Male,100,HP;MACBOOK,Linux,"Good so far, i guess"
30,2025/09/11 1:06:48 PM GMT+1,Gabriel,Bamgbose,AI,Abeokuta,Male,2,HP,Windows,Good
31,2025/09/11 1:10:16 PM GMT+1,Ridwanullah,Osho,AI;Cyber Security;Data Science,Abeokuta,Male,45,DELL,Windows,IT IS WHAT IT IS !!!
32,2025/09/11 1:11:39 PM GMT+1,Oluwapelumi,Adenuga,Web Dev,Abeokuta,Male,36,HP,Windows,live yours
33,2025/09/11 1:18:15 PM GMT+1,Michael,Osisami,AI,Abeokuta,Male,12,DELL;HP,Windows,Nil

In [59]:
filtered_city = ship_csv[(ship_csv['City'] == 'Lagos') & (ship_csv['Course Track'] == 'Data Science')]
print("Rows where City is 'Lagos' and Course_Track is 'Data Science':")
filtered_city

Rows where City is 'Lagos' and Course_Track is 'Data Science':

Empty DataFrame
Columns: [Timestamp, First Name, Last Name, Course Track, City, Gender, Seat Number, PC-Make, PC - OS, Feedback]
Index: []

In [60]:
pd.to_datetime(ship_csv['Timestamp'])

C:\Users\ncc333\AppData\Local\Temp\ipykernel_7788\493964974.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(ship_csv['Timestamp'])

0    2025-09-11 12:55:34-01:00
1    2025-09-11 12:56:11-01:00
2    2025-09-11 12:57:08-01:00
3    2025-09-11 12:57:56-01:00
4    2025-09-11 12:58:41-01:00
5    2025-09-11 12:58:55-01:00
6    2025-09-11 12:58:55-01:00
7    2025-09-11 12:59:00-01:00
8    2025-09-11 12:59:16-01:00
9    2025-09-11 12:59:28-01:00
10   2025-09-11 12:59:41-01:00
11   2025-09-11 12:59:43-01:00
12   2025-09-11 13:00:03-01:00
13   2025-09-11 13:00:13-01:00
14   2025-09-11 13:00:27-01:00
15   2025-09-11 13:00:31-01:00
16   2025-09-11 13:00:43-01:00
17   2025-09-11 13:00:49-01:00
18   2025-09-11 13:00:54-01:00
19   2025-09-11 13:01:31-01:00
20   2025-09-11 13:01:44-01:00
21   2025-09-11 13:01:46-01:00
22   2025-09-11 13:01:54-01:00
23   2025-09-11 13:02:28-01:00
24   2025-09-11 13:02:49-01:00
25   2025-09-11 13:02:56-01:00
26   2025-09-11 13:02:59-01:00
27   2025-09-11 13:03:12-01:00
28   2025-09-11 13:03:36-01:00
29   2025-09-11 13:06:03-01:00
30   2025-09-11 13:06:48-01:00
31   2025-09-11 13:10:16-01:00
32   2025-09-11 13:11:39-01:00
33   2025-09-11 13:18:15-01:00
Name: Timestamp, dtype: datetime64[ns, UTC-01:00]